<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediabelajarinteraktif">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_apk1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_apk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siswa.materi.ActivityVideo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivitySumberapbd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityPengertianapbd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityMekanismeapbd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityJenisapbd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityApbd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityMekanismeapbn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityJenisapbn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivitySumberapbn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.latihan.ActivitySkor"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityPengertianapbn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityApbn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".guru.ActivityNilai"
            android:screenOrientation="landscape" />
        <activity
            android:name=".guru.ActivitySoal"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExitScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityIndikator"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityPetunjuk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityProfil"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityRujukan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityGlosarium"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityPetakonsep"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.latihan.ActivitySoal"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.ActivityUtama"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.latihan.ActivityLatihan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siswa.materi.ActivityMateri"
            android:screenOrientation="landscape" />
    </application>

</manifest>